body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    padding: 20px;
    flex-direction: row-reverse; /* Change the flex direction to row-reverse */
}

.order {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu {
    max-width: 300px;
    margin-right: 20px;
    flex: 1;
}

h2 {
    color: #333;
    margin-bottom: 15px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    cursor: pointer;
    margin-bottom: 10px;
    padding: 12px;
    background-color: #f5f5f5;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

li:hover {
    background-color: #e0e0e0;
}

button {
    background-color: #2ecc71;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #27ae60;
}
